# API Gateway Port
PORT=8080

# Environment Mode
NODE_ENV=development

# JWT Secret Key and Encoding
JWT_SECRET=your_jwt_secret_key_here
JWT_SECRET_ENCODING=base64

# Microservices URLs
AUTH_SERVICE_URL=http://localhost:8081
TRAIN_SERVICE_URL=http://localhost:8082
BOOKING_SERVICE_URL=http://localhost:8083
USER_SERVICE_URL=http://localhost:8084
PAYMENT_SERVICE_URL=http://localhost:8085
NOTIFICATION_SERVICE_URL=http://localhost:8086
